[set string1 "Now is the time for all good men..."/]

[set string2 $string1/]

[set string3 time/]

[string-to first_time first $string3 $string1 5]

first_time = $first_time ([string first $string3 $string1 5])

