I am [set x 5 /]
[incr x /]
[get x ] years old!

[if $x<5 /]
 I am less than five
[elseif $x==5 /]
 I am five years old
[else/]
 I amd older than five
[/if]-

I am exactly $x years old


Here is something else to consider:
 {45 + 5 = 50}
 "Pretty Cool, Huh?"


[while $x<30 /]
 x = $x 
[incr x /]
[/while/]




whitespace testing:[ws/]

[ws]test1[ws/]
   [ws] [ws/]  test3[ws/]

   [ws]   [ws/] test4[ws/]




[comment end of test /]

