[set start "1: this is the start" /]

[append-to middle start "2: this is the middle" /]

[append-to end start "3: this is the end" /]

Values Now:
------
start = '$start'
------
middle = '$middle'
------
end = '$end'
------

