[set start "1: this is the start" /]
[set middle "2: this is the middle" /]
[set end "3: this is the end" /]
[set all "" /]

[append all $start /]
[append all $middle /]
[append all $end /]

Values Now:
------
start = '$start'
------
middle = '$middle'
------
end = '$end'
------
all = '$all'